.Meaning h3 {
  color: #f9f9f9;
  font-size: 25px;
  line-height: 1.5;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.Meaning .example {
  color: #d1c2b4;
  opacity: 0.7;
  font-style: italic;
  font-weight: bold;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
}

.Meaning .definition span {
  color: #a3cbce;
  font-weight: bold;
  margin-right: 5px;
  font-family: "Playfair Display SC", serif;
}
